.navbar {

    border: 1px solid blue;
    background-color: black;
    text-align: center;
    padding: 30px;
}

.list {
    display: inline;
    margin: 40px;
    font-size: 20px;
}

.navbar-item {
    display: inline;
    left: 30px;px;
}